  <header class="index-header">
    <div class="row">
      <div class="col-md-3">
        <img src="http://appropriatetech.net/files/images/conf-logo.png">
      </div>
      <div class="col-md-9">
        <h1>7<sup>th</sup> International Conference on Appropriate Technology</h1>
        <h2>November 23-26, 2016<br>Mosi Oa Tunya (Victoria Falls), Zimbabwe</h2>
      </div>
    </div>

    <nav>
      <ul class="nav nav-pills nav-justified">
        <li>
          <a href="{{ 'call-for-papers' | prepend: site.baseurl }}">
            Call for Papers
          </a>
        </li>
      </ul>
    </nav>
  </header>

