        <div class="col-md-4">
          <div class="main-sidebar">
            <a href="/">
              <img src="http://appropriatetech.net/files/images/conf-logo.png" width="205" height="214">
            </a>

            <nav>
              <ul class="nav">

                <li>
                  <a href="{{ '/inat' | prepend: site.baseurl }}">About the INAT</a>
                  <a href="{{ '/icat7' | prepend: site.baseurl }}">The 7<sup>th</sup> ICAT</a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
