        <div class="col-md-4">
          <div class="main-sidebar">
            <img src="http://appropriatetech.net/files/images/conf-logo.png">
            <h1>7<sup>th</sup> International Conference on Appropriate Technology</h1>

            <nav>
              <ul class="nav">
                <li>
                  <a href="{{ 'call-for-papers' | prepend: site.baseurl }}">
                    Call for Papers
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
